[![Open In Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/github/eirasf/GCED-AA2/blob/main/lab1/2_Importancia_Orden.ipynb)

In [ ]:
import numpy as np
def calcular_cuadrado(x):
  return x*x

In [ ]:
x=np.random.randint(1,11)
y=calcular_cuadrado(x)

In [ ]:
print("El resultado de elevar ", x, "al cuadrado es", y )

El resultado de elevar  9 al cuadrado es 3

Hay que tener cuidado al "reejecutar" celdas porque los resultados pueden ser incorrectos

In [ ]:
y=3